*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.btn-molestar{
    background-color: #1E1B20;
    color: #FED57C;
    border-radius: 5px;
    padding: 10px;
}

.btn-molestar:hover{
    cursor: pointer;
    box-shadow: red 0 0 2px;
}

.oculto{
    display: none;
}


body{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    padding: 20px;
    min-width: 500px;
    min-height: 500px;
}

.tocar:hover{
    cursor: pointer;
}

.verde{
    background-image: url(../public/Imagenes/Drogon\ 00.jpg);
}

.tAmarillo{
    background-image: url(../public/Gif/Drogon\ 01.gif);
}

.Amarillo{
    background-image: url(../public/Imagenes/Drogon\ 01.jpg);    
}

.tNaranja{
    background-image: url(../public/Gif/Drogon\ 02.gif);
}

.Naranja{
    background-image: url(../public/Imagenes/Drogon\ 02.jpg);    
}

.tRojo{
    background-image: url(../public/Gif/Drogon\ 03.gif);
}

.Rojo{
    background-image: url(../public/Imagenes/Drogon\ 03.jpg);    
}

@media (min-width:1px) and (max-width:480px) {
    
    body{
        background-size: cover;
        background: top;
    }
}